@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.scale-in {
    animation: scale-in 0.3s ease;
}