@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
    background: transparent;
    user-select: none;
}

.as-button {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }
}

/* third party */

.ms-container > .ms-track-box { /* FIXME: see https://github.com/MinJieLiu/mac-scrollbar/pull/34 */
    width: 100%;
}

.react-colorful { /* react-colorful */
    border-radius: 8px;
    background: #FFFFFF;
    /*box-shadow: 0 6px 12px #999;*/
    flex-shrink: 0;

    .react-colorful__pointer {
        border: solid 1px #FFFFFF;
        border-radius: 2px;
    }

    .react-colorful__saturation { /* saturation */
        margin: 12px 0;
        border-radius: 4px;
        border-bottom: none;

        .react-colorful__saturation-pointer {
            width: 12px;
            height: 12px;
        }
    }

    .react-colorful__hue { /* hue */
        order: -1;
        height: 16px;
        border-radius: 4px;

        .react-colorful__hue-pointer {
            width: 10px;
            height: 18px;
        }
    }

    .react-colorful__alpha { /* alpha */
        height: 16px;
        border-radius: 4px;

        .react-colorful__alpha-pointer {
            width: 10px;
            height: 18px;
        }
    }
}
