@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: "JetBrains Mono", YouShe, monospace;
    /*user-select: none;*/
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

.as-button {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.9;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.collection-card-badge {
    --badge-width: 32px;
    --badge-background: #EDEDED;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    width: var(--badge-width);
    height: 24px;
    border-top: solid 2px #D9D9D9;
    background: var(--badge-background);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        width: 0;
        height: 0;
        border-left: var(--badge-width) solid var(--badge-background);
        border-bottom: 10px solid transparent;
    }
}

/* third party */

.ms-container > .ms-track-box { /* FIXME: see https://github.com/MinJieLiu/mac-scrollbar/pull/34 */
    width: 100%;
}

.react-colorful { /* react-colorful */
    border-radius: 8px;
    background: #FFFFFF;
    /*box-shadow: 0 6px 12px #999;*/
    flex-shrink: 0;

    .react-colorful__pointer {
        border: solid 1px #FFFFFF;
        border-radius: 2px;
    }

    .react-colorful__saturation { /* saturation */
        margin: 12px 0;
        border-radius: 4px;
        border-bottom: none;

        .react-colorful__saturation-pointer {
            width: 12px;
            height: 12px;
        }
    }

    .react-colorful__hue { /* hue */
        order: -1;
        height: 16px;
        border-radius: 4px;

        .react-colorful__hue-pointer {
            width: 10px;
            height: 18px;
        }
    }

    .react-colorful__alpha { /* alpha */
        height: 16px;
        border-radius: 4px;

        .react-colorful__alpha-pointer {
            width: 10px;
            height: 18px;
        }
    }
}
