/* deprecated */

:root {
    --awesome-scrollbar-width: 6px;
    --awesome-scrollbar-height: 6px;
    --awesome-scrollbar-fill: rgba(0, 0, 0, .2);
    --awesome-scrollbar-track-fill: #cccccc80;
}

.awesome-scrollbar {
    &::-webkit-scrollbar {
        width: var(--awesome-scrollbar-width);
        height: var(--awesome-scrollbar-height);
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        overflow: visible;
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--awesome-scrollbar-fill);
    }
}

.awesome-scrollbar-y {
    &::-webkit-scrollbar {
        width: var(--awesome-scrollbar-width);
        height: var(--awesome-scrollbar-height);
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        overflow: visible;
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--awesome-scrollbar-fill);
    }

    &::after {
        content: '';
        position: absolute;
        background: var(--awesome-scrollbar-track-fill);
        height: 100%;
        top: 0;
        right: 0;
        width: .4em;
        -webkit-transition: all .5s;
        transition: all .5s;
        opacity: 1;
    }

    &:hover::after {
        opacity: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

.awesome-scrollbar-x {
    &::-webkit-scrollbar {
        width: .4em;
        height: .4em;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        overflow: visible;
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--awesome-scrollbar-fill);
    }

    &::after {
        content: '';
        position: absolute;
        background: var(--awesome-scrollbar-track-fill);
        width: 100%;
        bottom: 0;
        left: 0;
        height: .4em;
        -webkit-transition: all .5s;
        transition: all .5s;
        opacity: 1;
    }

    &:hover::after {
        opacity: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}